@media (max-width:800px) {
    body.lock {
      overflow: hidden;
    }
  
    .header__body {
      height: 50px;
    }
  
    .header__logo {
      flex: 0 0 40px;
      margin-left: 20px;
    }
  
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
    }
    
    .header__list li {
        margin: 0 auto 20px;
    }
  
    .header__burger span {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
  
    .header__burger:before,
    .header__burger:after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
  
    .header__burger:before {
      top: 0;
    }
  
    .header__burger:after {
      bottom: 0;
    }
  
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
    }
  
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
  
    .header__burger.active span {
      transform: scale(0);
    }
  
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(81, 110, 190);
  /*для прокрутки меню, когда оно не помещается в экран*/
      overflow: auto;   
      background-color: rgba(0,0,0,0.3); 
      padding: 70px 10px 20px 10px;
      transition: all 0.3s ease 0s;
    }
    .header__link{
        margin-left: 0;
    }
    .header__list > li{
        padding-top: 5px;
    }
    .header__menu.active {
      top: -30px;
    }
    .header__menu.active > body{
        opacity: .7;
    }
  
    .header__list {
      display: block;
      text-align: center;
    }
  
    .header__list li {
      margin: 0 0 20px 0;
    }
  
    .header__link {
      font-size: 24px;
    }
  }

  @media(max-width: 1060px){
      .app__box{
          margin-left: 0;
      }
  }
  @media(max-width: 1030px){
      .app__box{
          margin: 0 auto 30px;
      }
      .app__box:first-child{
        margin: 0 auto 30px;
    }
  }
  @media(max-width: 845px){
      .form__output{
          display: block;
          margin: 0 auto 30px;
      }
      .form__input-tname{
          margin: 0 auto 10px;
      }
      .form__input-titem{
        margin-bottom: 30px;
      }
      .form__input-tel{
          margin-left: 0;
      }
      .form__submit-btn{
          margin: 0 auto 20px;
      }
  }
@media(max-width: 1100px){
    .cta{
        margin-bottom: 150px;
    }
    .reg__info{
        margin: 0 auto 20px;
    }
    .reg__input{
        margin-bottom: 25px;
    }
    .cta__info{
        margin: 0 auto 30px;
    }
    .cta__inner{
        display: block;
        text-align: center;
    }
    .form__inner{
        display: block;
    }
    .form__output{
        text-align: center;
    }
    .form__info{
        margin: 0 auto 30px;
    }
    .question__form{
        margin-bottom: 100px;
    }
    
}
@media(max-width:736px){
    .test__inner{
        flex-wrap: wrap;
    }
    .test__box{
        width: 50%;
        margin: 0 auto 50px;
    }
    .video__link-item{
        width: 50%;
    }
    .map__item{
        width: 100%;
        margin: 0 auto;
    }
    .maps{
        margin-bottom: 120px;
    }
    .main__contacts-item{
        margin-left: 69px;
    }
}
@media(max-width:550px){
    .cta__info{
        width: 80%; 
    }
    .cta{
        margin-bottom: 200px;
    }
    .main__contacts-item {
        margin-left: 25px;
    }
}
@media(max-width:500px){
    .main__contacts{
        display: block;
        text-align: center;
        max-width: 70%;
    }
    .main__contacts-item:first-child{
        padding-top: 70px;
    }
    .main__contacts-item{
        padding-top: 50px;
        text-align: center;
        margin: 0 auto;
    }
}
@media(max-width:780px){
    .video{
        width: 100%;
    }
    h1{
        text-align: center;
    }
}
@media(max-width:756px){
    .footer__inner{
        max-width: 100%;
        flex-wrap: wrap;
    }
    .footer__logo{
        width: 100%;
        margin-bottom: 30px;
        padding-left: 20px;
    }
    .footer{
        height: 580px;
    }
    .video__link-item{
        width: 75%;
    }
    .footer__nav-link{
        margin: 0 auto 50px;
        width: 45%;
        margin-left: 10px;
        text-align: left;
    }
    .footer__contact{
        padding-left: 20px;
    }
}
@media(max-width: 420px){
    .video{
        margin-top:270px;
    }
    .reg__form{
        margin-left: 0;
    }
    .reg__form + .reg__form {
        margin-left: 0px;
    }
}





















